state_machine/state_machine.json
{
        "Comment":"Compression",   
        "StartAt":"CheckValidVideo",   
        "States":{
          "CheckValidVideo":{
                "Type":"Task",         
                "Resource":"arn:aws:lambda:us-west-2:072775118116:function:test-del",   
            "Next":"Valid"   
            }, 
            "Valid":{
                "Type":"Choice",         
                "Choices":[
                {
                    "Variable":"$.value",               
                    "StringEquals":"True",                 
                    "Next":"Compression"            
                },           
                {
                    "Variable":"$.value",               
                    "StringEquals":"False",               
                    "Next":"NotValidFile"            
                }
                ]
            },      
            "NotValidFile":{
                "Type":"Task",         
                "Resource":"arn:aws:lambda:us-west-2:072775118116:function:del_tmp_video",         
                "End":true      
            },      
            "Compression":{
                "Type":"Task",         
                "Resource":"arn:aws:lambda:us-west-2:072775118116:function:compression1",         
                "End":true      
            }
        }
    }